<div class='nested-fields'>
<table>
  <tr>
		<td>
  		<div class="field">
		    <%= f.text_field :name, placeholder: "Name"%>
		  </div>
	  </td>
    <td>
		  <div class="field">
    		<%= f.text_field :company, placeholder: "Company"%>
		  </div>
    </td>
  </tr>
	<tr>
		<td>
		  <div class="field">
    		<%= f.text_field :email, placeholder: "person@company.com" %>
		  </div>
		</td>
		<td>
		  <div class="field">
    		<%= f.text_field :phone, placeholder: "Phone Number" %>
		  </div>
		</td>
  </tr>
	<tr>
		<td colspan="2">
		  <div class="field">
    		<%= f.text_field :position, placeholder: "Position" %>
		  </div>
		</td>
  </tr>
	<tr>
		<td colspan="2">
		  <div class="field">
		    <%= f.text_field :note, placeholder: "Any other notes"%>
		  </div>
		</td>
  </tr>
</table>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= link_to_remove_association "remove contact", f %>

</div>
