<%= semantic_form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
		<td>
  		<div class="field">
    		<%= f.text_field :company, placeholder: "Company" %>
		  </div>
    </td>
	  <td>
  		<div class="field">
		    <%= f.text_field :location, placeholder: "Location" %>
		  </div>
    </td>
  </tr>
	<tr>
	  <td>
		  <div class="field">
		    <%= f.text_field :position, placeholder: "Position" %>
		  </div>
    </td>
    <td>
  		<div class="field">
    		<%= f.text_field :app_link, placeholder: "Application Link" %>
		  </div>
    </td>
  </tr>
	<tr>
	  <td colspan="2">
  		<div class="field">
    		<%= f.text_field :description, placeholder: "Discription"%>
		  </div>
    </td>
  </tr>
	<tr>
    <td colspan="2">
  		<div class="field">
				<div class="row">
				  <div class="low-12 columns select-date-wrapper">
		    			<%= f.label :date_applied %>
				  		<%= f.date_select(:date_applied, options = {order: [:month, :day, :year]}, html_options = { class: 'select-date'}) %>
		  		</div>
			  </div>
		  </div>
    </td>
  </tr>
	<tr>
    <td>
		  <%= f.select :status, Job.statuses.keys %>
    </td>
  </tr>
	<tr>
    <td colspan="2">
  		<div class="field">
    		<%= f.text_field :note, placeholder: "Additional Notes"%>
		  </div>
    </td>
  </tr>
</table>

  <!-- <div class="field"> -->
  <!-- </div>-->

  <!-- contacts -->
  <h3> Contacts </h3>
  <div id='contacts'>
    <div class='links'>
      <%= link_to_add_association 'add contact', f, :contacts %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
