<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Playfair+Display" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
   </head>

   <div id="entire_page">
      <body>
         <!-- updates the most recent date to be the last update that was added. -->
         <% @ordered_jobs = Job.all %>
         <% @ordered_jobs.each do |job| %>
            <% if job.updates.size > 0 %>
               <% job.most_recent_date = job.updates[job.updates.size - 1].u_date %>
            <% end %>
         <% end %>

         <!-- sorts jobs by most recent date -->
         <% @ordered_jobs.each do |job| %>
            <% @ordered_jobs = @ordered_jobs.sort_by { |a| a.most_recent_date } %>
         <% end %>

         <!-- updates the most recent date to be the last update that was added. -->
         <% @upcoming_events = Event.all %>
         <% @ordered_events = Array.new %>

         <% @upcoming_events.each do |event| %>
            <% if event.s_time > Date.parse(Time.now.to_s) %>
               <% @ordered_events.push(event) %>
            <% end %>
         <% end %>

         <!-- sorts jobs by most recent date -->
         <% @ordered_events.each do |event| %>
            <% @ordered_events = @ordered_events.sort_by { |a| a.s_time } %>
         <% end %>

         <div class="w3-row-padding">
            <div class="w3-twothird">
               <div id="heading1">Jobs:</div>
               <% @ordered_jobs.each do |job| %>
                  <% if job.user_id == current_user.id %>
                     <div class="w3-third">
                        <% if job.status == 1 %> 
                           <div id="applied_job_div">
                              <%= link_to job do %>
                                 <div id="h_job_company"><%= job.company %></div>
                                 <div id="h_position"><%= job.position %></div>
                                 <div id="h_job_date">
                                    <%= job.most_recent_date.strftime('%B %d, %Y') %>
                                 </div>
                              <% end %>
                           </div>
                        <% end %>
                        <% if job.status == 2 %> 
                           <div id="contact_job_div">
                              <%= link_to job do %>
                                 <div id="h_job_company"><%= job.company %></div>
                                 <div id="h_position"><%= job.position %></div>
                                 <div id="h_job_date">
                                    <%= job.most_recent_date.strftime('%B %d, %Y') %>
                                 </div>
                              <% end %>
                           </div>
                        <% end %>
                        <% if job.status == 3 %> 
                           <div id="interview_job_div">
                              <%= link_to job do %>
                                 <div id="h_job_company"><%= job.company %></div>
                                 <div id="h_position"><%= job.position %></div>
                                 <div id="h_job_date">
                                    <%= job.most_recent_date.strftime('%B %d, %Y') %>
                                 </div>
                              <% end %>
                           </div>
                        <% end %>
                        <% if job.status == 4 %> 
                           <div id="offer_job_div">
                              <%= link_to job do %>
                                 <div id="h_job_company"><%= job.company %></div>
                                 <div id="h_position"><%= job.position %></div>
                                 <div id="h_job_date">
                                    <%= job.most_recent_date.strftime('%B %d, %Y') %>
                                 </div>
                              <% end %>
                           </div>
                        <% end %>
                        <% if job.status == 5 %> 
                           <div id="didnt_get_job_div">
                              <%= link_to job do %>
                                 <div id="h_job_company"><%= job.company %></div>
                                 <div id="h_position"><%= job.position %></div>
                                 <div id="h_job_date">
                                    <%= job.most_recent_date.strftime('%B %d, %Y') %>
                                 </div>
                              <% end %>
                           </div>
                        <% end %>
                     <% end %>
                     </div>
                  <% end %>
            </div>
            <div class="w3-third">


         <% @all_my_events = Event.all %>
         <% @my_events = Array.new %>
         <% @all_my_events.each do |e| %>
            <% if e != nil and e.user_id == current_user.id %>
               <% @my_events.push(e) %>
            <% end %>
         <% end %>


               <div id="heading1">Upcoming Events:</div>

         <div style='width: 400px;'>
            <div id="multi_markers" style='width: 93%; height: 200px;'></div>
         </div>
         <script type="text/javascript">
						var mapStyle = 
						[{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#165c64"},{"saturation":34},{"lightness":-69},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"hue":"#b7caaa"},{"saturation":-14},{"lightness":-18},{"visibility":"on"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"hue":"#cbdac1"},{"saturation":-6},{"lightness":-9},{"visibility":"on"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#8d9b83"},{"saturation":-89},{"lightness":-12},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#d4dad0"},{"saturation":-88},{"lightness":54},{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#bdc5b6"},{"saturation":-89},{"lightness":-3},{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#bdc5b6"},{"saturation":-89},{"lightness":-26},{"visibility":"on"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"hue":"#c17118"},{"saturation":61},{"lightness":-45},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"hue":"#8ba975"},{"saturation":-46},{"lightness":-28},{"visibility":"on"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"hue":"#a43218"},{"saturation":74},{"lightness":-51},{"visibility":"simplified"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":0},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":0},{"lightness":100},{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels","stylers":[{"hue":"#ffffff"},{"saturation":0},{"lightness":100},{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":0},{"lightness":100},{"visibility":"off"}]},{"featureType":"administrative","elementType":"all","stylers":[{"hue":"#3a3935"},{"saturation":5},{"lightness":-57},{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"geometry","stylers":[{"hue":"#cba923"},{"saturation":50},{"lightness":-46},{"visibility":"on"}]}
						];
						var handler = Gmaps.build('Google');
						handler.buildMap({ internal: {id: 'multi_markers'},
						   provider: {
						      styles: mapStyle
						   }
						}, function(){
						   var markers = handler.addMarkers([
						         <% @my_events.each do |event| %>
						            { lat: <%= event.latitude%>, lng: <%= event.longitude%>},
						         <% end %>
						   ]);
						   handler.bounds.extendWith(markers);
						   handler.fitMapToBounds();
						});
         </script>
         <br>
               <div id="events_box">
                  <% @ordered_events.each do |event| %>
                     <%= link_to event do %>
                        <div id="h_event_name"><%= event.name %></div>
                        <blockquote><div id="h_event_detail"><%= event.s_time.strftime('%A, %B %d, %Y at %I:%M %p')%></div>
                           <div id="h_event_detail"><%= event.address %></div></blockquote>
                        <blockquote><div id="h_event_detail"> — <%= event.note %></div></blockquote>
                     <% end %>
                  <% end %>
               </div>
            </div>
         </div>

      </body>
   </div>
</html>
