<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

   <div id="entire_page">
      <body>
         <p id="notice"><%= notice %></p>

         <!-- updates the most recent date to be the last update that was added. -->
         <% @ordered_jobs = Job.all %>
         <% @ordered_jobs.each do |job| %>
            <% if job.updates.size > 0 %>
               <% job.most_recent_date = job.updates[job.updates.size - 1].u_date %>
            <% end %>
         <% end %>

         <!-- sorts jobs by most recent date -->
         <% @ordered_jobs.each do |job| %>
            <% @ordered_jobs = @ordered_jobs.sort_by { |a| a.most_recent_date } %>
         <% end %>

         <div class="w3-row-padding">
            <% @ordered_jobs.each do |job| %>
               <div class="w3-third">
                  <% if job.status == 1 %> 
                     <div id="applied_job_div">
                        <%= job.company %><br>
                        <%= job.position %><br>
                        <%= job.most_recent_date %>
                     </div>
                  <% end %>
                  <% if job.status == 2 %> 
                     <div id="contact_job_div">
                        <%= job.company %><br>
                        <%= job.position %><br>
                        <%= job.most_recent_date %>
                     </div>
                  <% end %>
                  <% if job.status == 3 %> 
                     <div id="interview_job_div">
                        <%= job.company %><br>
                        <%= job.position %><br>
                        <%= job.most_recent_date %>
                     </div>
                  <% end %>
                  <% if job.status == 4 %> 
                     <div id="interview_job_div">
                        <%= job.company %><br>
                        <%= job.position %><br>
                        <%= job.most_recent_date %>
                     </div>
                  <% end %>
                  <% if job.status == 5 %> 
                     <div id="interview_job_div">
                        <%= job.company %><br>
                        <%= job.position %><br>
                        <%= job.most_recent_date %>
                     </div>
                  <% end %>
               </div>
            <% end %>
         </div>
         <table>
            <thead>
               <tr>
                  <th>Company</th>
                  <th>Position</th>
                  <th>Location</th>
                  <th>Description</th>
                  <th>App link</th>
                  <th>Date applied</th>
                  <th>Recent Date</th>
                  <th>Status</th>
                  <th>Note</th>
                  <th>User</th>
                  <th colspan="3"></th>
               </tr>
            </thead>


            <tbody>
               <% @ordered_jobs.each do |job| %>
                  <tr>
                     <td><%= job.company %></td>
                     <td><%= job.position %></td>
                     <td><%= job.location %></td>
                     <td><%= job.description %></td>
                     <td><%= job.app_link %></td>
                     <td><%= job.date_applied %></td>
                     <td><%= job.most_recent_date %></td>
                     <td><%= job.status %></td>
                     <td><%= job.note %></td>
                     <td><%= job.user.email %></td>
                     <td><%= link_to 'Show', job %></td>
                     <td><%= link_to 'Edit', edit_job_path(job) %></td>
                     <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
               <% end %>
            </tbody>
         </table>

         <br>

         <%= link_to 'New Job', new_job_path %>
      </body>
   </div>
</html>
