<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>App link:</strong>
  <%= @job.app_link %>
</p>

<p>
  <strong>Date applied:</strong>
  <%= @job.date_applied %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @job.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<% for contact in @job.contacts %>
   <%= contact.name %>
<% end %>

<% for update in @job.updates %>
   <%= update.note %>
<% end %>

<%= render 'contacts/form' %>
<%= render 'updates/form' %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
