<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Playfair+Display" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <div id="entire_page">
      <body>
			 <div class="w3-row-padding">
			   <div class="w3-twothird">
         <div id="s_status">
         <h6>
         <%= @job.status %>
				 </h6>
         </div>

			<div id="job_title_box">
         <div id="s_job_company">
	         <%= @job.company %>
				 </div>

         <div id="s_subtitles">
				 <p>
         <strong>Position:</strong>
         <%= @job.position %>

         <strong>Location:</strong>
         <%= @job.location %>
				 </p>

         <p>
         <strong>App link:</strong>
         <%= @job.app_link %>

         <strong>Date applied:</strong>
         <%= @job.date_applied %>
         </p>

         <p>
         <strong>Description:</strong>
         <%= @job.description %>
         </p>

         <p>
         <strong>Note:</strong>
         <%= @job.note %>
         </p>
         </div>
 			</div>
 	  </div>

		<div class="w3-third">
         <p>
         <h6> Current Contacts </h6> 
         <% for contact in @job.contacts %>
            <%= contact.name %>
         <% end %>
         <p>

         <p>
         <h6> Recent Updates </h6> 
         <% for update in @job.updates %>
            <%= update.u_date %>
            <%= update.note %>
         <% end %>
         </p>

		</div>

         <%= render 'contacts/form' %>
         <%= render 'updates/form' %>
         <%= link_to 'Edit', edit_job_path(@job) %> |
         <%= link_to 'Back', jobs_path %>
      </body>
   </div>
</html>
