<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <div id="form_for">
            <%= f.datetime_select :s_time, {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year', :hour => 'Select hour', :minute => 'Select minute'}},class: "col-m-3 control-label form_for" %>
     </div> 
  </div>
     
     <div class="field">

    <%= f.text_field :name, placeholder: 'Name of event', class: "col-md-4 control-label" %>
  </div>

  <div class="field">
    <%= f.text_field :address, placeholder: 'Full address', class: "col-md-4 control-label" %>
  </div><br>

  <div class="field">
     <%= f.text_area :note, placeholder: 'Personal notes', :rows => "5" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
