<p id="notice"><%= notice %></p>

<p>
  <strong>S time:</strong>
  <%= @event.s_time %>
</p>

<p>
  <strong>E time:</strong>
  <%= @event.e_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
